@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

html{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size:13px;
    margin:0px;
    background-image: -ms-radial-gradient(center top, circle farthest-corner, #F6F6F6 0%, #D7D7D7 100%);
    background-image: -moz-radial-gradient(center top, circle farthest-corner, #F6F6F6 0%, #D7D7D7 100%);
    background-image: -o-radial-gradient(center top, circle farthest-corner, #F6F6F6 0%, #D7D7D7 100%);
    background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #F6F6F6), color-stop(1, #D7D7D7));
    background-image: -webkit-radial-gradient(center top, circle farthest-corner, #F6F6F6 0%, #D7D7D7 100%);
    background-image: radial-gradient(circle farthest-corner at center top, #F6F6F6 0%, #D7D7D7 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:#D7D7D7;
    color:#555555;
}

h1 {
    font-size: 28px;
    font-weight: lighter;
    padding: 0 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: lighter;
}

h4 {
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 2px;
}

h5 {
    font-size: 11px;
    font-weight: normal;
}

p {
    font-size: 13px;
    font-weight: normal;
}

a {
    color: inherit;
}

a:hover, a:active {
    color: #f2962e;
    text-decoration: none;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

.message {
    position: absolute;
    width: 100%;
    top: -1px;
    background: rgba(000,000,000,0.7);
    z-index: 999;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding-top: 5%;
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-left: -15px;
}

.menuTextFade {
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    opacity: 1;
}
.menuTextFade.ng-hide {
    opacity: 0;
}

.link {
    cursor: pointer;
}


.landingSite {
    margin-top: 10px;
    margin-bottom: 10px;
}

.landingSite [class*="col-"]{
    /*padding-left:5px;*/
    padding-right:5px;
    padding-top: 5px;
}

.landingSite  input[type="text"], [type="password"], [type="email"] {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
    background: #fff;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding: 5px;
    width: 98%;
    height: 40px;
}
.landingSite input[type="text"]:focus, [type="password"]:focus, [type="email"]:focus, .landingSite textarea:focus, .landingSite select:focus{
    background: #fff;
    box-shadow: 0 0 5px #428bca;
    border-color: #428bca;
}

.landingSite textarea, .landingSite select {
    width: 100%;
    /*overflow: hidden;*/
    /*resize:none;*/
    /*word-wrap: break-word;*/
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
    background: #fff;
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition:0.05s;
    -o-transition: 0.05s;
    padding: 5px 0 0 5px;
    height: 40px;
}




